.favoriteAnime {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: goldenrod;
  border: solid 5px gold;
  padding: 10px;
}

.favorite__anime-series {
  border: solid 3px chocolate;
  border-radius: 10px;
  padding: 10px;
}

.title__anime-favorites {
  text-align: center;
  font-size: 2rem;
}

.list__anime-favorites {
  list-style: none;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 25%;
}

.anime__item {
  width: 275px;
}

.anime__chromo {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  gap: 15px;
  position: relative;
}

.deleteIcon {
  position: absolute;
  left: 95%;
  cursor: pointer;
}

.fa-square-xmark {
  height: 25px;
}
